# Tuples:

**Tuple**:tuple is same as the list but the only difference is that it  is immutable(once created can't be modified,can't add ,edit or remove elements)

In [1]:
#how to create a tuple
#1) t=(tuple elements seperated by ,) using ()
t1=(1,2,3,4)
print(type(t1))

<class 'tuple'>

In [2]:
#2)t=tuple(iterable) creating a tuple from iterable
L=[x**2 for x in range(101) if x%10==0]
t=tuple(L)
print(type(t),t)

<class 'tuple'> (0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000)

In [3]:
#3) creating an empty tuple t=()
t=()
print(type(t),t)

<class 'tuple'> ()

In [4]:
#4)creating a tuple of a single element t=(3,) note: if you write t=(3) it will be seen as int
a=(3)
t=(3,)
print(f"type(a): {type(a)}\ttype(t):{type(t)}")

type(a): <class 'int'>	type(t):<class 'tuple'>

In [5]:
#5)if you put more than one value in a variable, python will automatically pach the values and store them in the variable as a tuple
t=1,2,3,6,7,8,9
print(type(t),t)
#a,b=1,2,3,4,5,6 this will give error

<class 'tuple'> (1, 2, 3, 6, 7, 8, 9)

In [6]:
#6)tuple comprehension: same as list comprehension but must be unpacked
#note: t=(exp for item in iterable condition) will produce something called generator object
#this generator object must be unpacked using *
#t=(*(exp for item in iterable condition),) the , in the end is there in case that the tuple was 1 element only
generator=(x*5 for x in range(11) if x%2==0)
print(type(generator),generator)
t=(*(x*5 for x in range(11) if x%2==0),)
print(type(t),t)

#or simply use t=tuple(list comprehension)
t=tuple([x**2 for x in range(5)])
print(type(t),t)

<class 'generator'> <generator object <genexpr> at 0x000001BDEC16A030>
<class 'tuple'> (0, 10, 20, 30, 40, 50)
<class 'tuple'> (0, 1, 4, 9, 16)

## Reading from a Tuple(you can't write to a tuple):

In [7]:
t=tuple([x*10 for x in range(11)])
print(type(t),t)

<class 'tuple'> (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [8]:
#reading using a certain index
print(t[3])
print(t[len(t)-1])
print(t[-1])

30
100
100

In [9]:
#reading by slicing [start:stop:step]
print(t[6:1:-1])#will start from index 6 to index 2 with step -1
print(t[:]) #will print all of the tuple

(60, 50, 40, 30, 20)
(0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [10]:
#traversing through a tuple
for x in t:
    print(x,end=" ")
counter=0
print("")
while counter <len(t):
    print(t[counter],end=" ")
    counter+=1
print("")

0 10 20 30 40 50 60 70 80 90 100
0 10 20 30 40 50 60 70 80 90 100

In [11]:
#note slicing and indexing is always done using Square Brackets[]

## Packing and Unpacking(works on all Sequences):

In [12]:
#operations on tuples
#1)Concatenation
t1,t2=(1,2,3),(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [13]:
#2)Repetition
t3=t1*2
print(t3)

(1, 2, 3, 1, 2, 3)

In [14]:
#3)Packing and unpacking
t=1,2,3,4,5 # when you put multiple elements in only 1 variable, python packs them as a tuple and store it in the variable
#this is called packing
a,b,c,d,e=t #when you try to store a tuple in many variables, python unpack the tuple and assign 1 element for each variable
#this is called unpacking this also happens with strings and lists
#note in unpacking: number of variables must be equal to the number of elements in the tuple
#if you want to store 2 elements in 2 variables and the rest in 1 variable use *
#example
a,b,*c=t
print(f"a: {a}\t b: {b}\t c: {c}\t")
#or we can do 
a,*b,c=t
print(f"a: {a}\t b: {b}\t c: {c}\t")
#or we can do
*a,b,c=t
print(f"a: {a}\t b: {b}\t c: {c}\t")

a: 1	 b: 2	 c: [3, 4, 5]
a: 1	 b: [2, 3, 4]	 c: 5
a: [1, 2, 3]	 b: 4	 c: 5

In [15]:
#packing and unpacking with lists
L=[1,2,3,4,5,6]
a,b,c,d,e,f=L
print(a)
*a,b=L
print(a)

1
[1, 2, 3, 4, 5]