# Sets

**Sets**:a set is a collection of unique unordered elements which is mutable, a set doesn't allow slicing or indexing because elements are unordered having no indeces

In [1]:
#how to create a set
#1) using curly braces: S={elements of a set seperated by a comma}
s={10,23,35,42,51,66,70,82,96}
print(type(s),s)
s={10,10,20,20,54,34,34,21,21,77,7} #note set only contains unique unordered elements, it removes any duplicates 
print(type(s),s)

<class 'set'> {96, 66, 35, 70, 10, 42, 82, 51, 23}
<class 'set'> {34, 20, 21, 54, 7, 10, 77}

In [2]:
#2)using an iterable and set function
s=set([x*2+1 for x in range(11) if x%2==0])
print(type(s),s)

<class 'set'> {1, 5, 9, 13, 17, 21}

In [3]:
s={'python'}
print(type(s),s)
s=set('python')
print(type(s),s)

<class 'set'> {'python'}
<class 'set'> {'p', 'h', 't', 'n', 'y', 'o'}

In [4]:
#creating an empty set S=set() note that s={} creates an empty dictionary not an empty set
s=set()
print(type(s),s)
dic={}
print(type(dic),dic)

<class 'set'> set()
<class 'dict'> {}

In [5]:
#adding an element to the set set_name.add(element) it will go in unknown place in the set, and the set will be reordered
s={10,23,35,42,51,66,70,82,96}
print(type(s),s)
s.add(11)
print(type(s),s)
#you can add iterables to a set strings,tuples but you can't add list because list is unhashable
#in a set you can only have immutable type of data
l=[1,40,21]
t=(10,44,86)
st='karim'
#s.add(l) this gives an error
s.add(t)
s.add(st)
print(type(s),s)

<class 'set'> {96, 66, 35, 70, 10, 42, 82, 51, 23}
<class 'set'> {96, 66, 35, 70, 10, 42, 11, 82, 51, 23}
<class 'set'> {96, 66, 35, 70, (10, 44, 86), 10, 42, 11, 82, 51, 23, 'karim'}

In [6]:
#to remove an element from the set: set_name.remove(element) or set_name.pop()
#set_name.remove(element) will remove the specific element if exist
#set_name.pop() will remove a random element
s.remove(t)
s.remove(st)
print(type(s),s)
s.pop()
print(type(s),s)
s.pop()
print(type(s),s)

<class 'set'> {96, 66, 35, 70, 10, 42, 11, 82, 51, 23}
<class 'set'> {66, 35, 70, 10, 42, 11, 82, 51, 23}
<class 'set'> {35, 70, 10, 42, 11, 82, 51, 23}

In [7]:
#set operations: same as mathematic set operations
s1,s2={1,2,3,4,5},{4,5,6,7,8,9}
s3=s1.union(s2) #set.union(set) adds both sets together and removes duplicates, stores result in a set
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
#intersection
s3=s1.intersection(s2)#set.intersection(set) will get the elements thate exist in both s1 and s2 and put them in a set
print(s3)

{4, 5}

In [9]:
#difference()
s3=s1.difference(s2)#gets the elemets that exist in s1 and doesn't exist in s2
print(s3)
s3=s2.difference(s1)
print(s3)

{1, 2, 3}
{8, 9, 6, 7}

In [10]:
#symetric difference 
s3=s1.symmetric_difference(s2)#gets all the elements of s1 and s2 except the intersection between them 
print(s3)

{1, 2, 3, 6, 7, 8, 9}

In [11]:
#intersection_update(),union_update,difference_update,symmetric_difference_update(), stores the result in the first set updating it
s1.intersection_update(s2)#set1.intersection_update(set2) gets the intersection and stores it in set1 updating set1
print(s1)

{4, 5}

In [12]:
#adding and deleting elements from a set
#1) add(element) adds an element to the set
s={10,23,35,42,51,66,70,82,96}
s.add(99)
print(s)

{96, 66, 35, 99, 70, 10, 42, 82, 51, 23}

In [13]:
#2) update(iterable) adds the elements of an iterable to the set
s.update([3,4,10])
print(s)
a={1,2,3}
b={1,2,3}
a.add('python')
print(a)
b.update('python')
print(b)

{96, 66, 35, 99, 3, 70, 4, 10, 42, 82, 51, 23}
{1, 2, 3, 'python'}
{1, 2, 3, 'p', 'h', 't', 'n', 'y', 'o'}

In [14]:
#3)copy() mmakes a copy of the set,remove(element) removes a specific element from the set
s_copy=s.copy()
s_copy.remove(70)
s_copy.remove(51)
print(s)
print(s_copy)

{96, 66, 35, 99, 3, 70, 4, 10, 42, 82, 51, 23}
{96, 66, 35, 99, 3, 4, 10, 42, 82, 23}

In [15]:
#4)pop() removes a random element and returns it
popped=s.pop()
print(popped,s)

96 {66, 35, 99, 3, 70, 4, 10, 42, 82, 51, 23}

In [16]:
#5)discard(element) removes a specific element from the set
s.discard(42)
print(s)

{66, 35, 99, 3, 70, 4, 10, 82, 51, 23}

**the difference between discard and remove on sets :**
both of them remove a specific element from the set, but if the element does not exist, remove raises a KeyError, discard does not raise an error if the element is not found,

In [17]:
#6)clear() clears the set
s.clear()
print(s)

set()

In [18]:
#set comprehension, same as list comprehension but using {} and it have no duplicates
s={((x**2)+(3*x)) for x in range(11) if x%2!=0}
print(s)
#or simply s=set(list comprehension)

{4, 70, 40, 108, 18}