
# Python Datatypes Section

## 1. what are variables?

In [4]:
#import section
import sys

In [58]:
#each variable name in python carries a reference for the data it holds
#1)Normal Declaration and assignment
#types of data in python are 3 :Integer data,float data,string data(single quote in python)
length=15
width=10
area=length*width
print(area)

150

In [60]:
prices=[10,11,3,2,12]
print(prices)

[10, 11, 3, 2, 12]

In [62]:
#Multiple Declarations
name,price,qty='soap',12.5,1
print(name,price,qty)

soap 12.5 1

In [64]:
#multiple declarations
#each variable in python has an id, if two variables have the same id it means they are pointing to or carrying the same data
a=b=c=1
w,e,z=1,1,1
print(id(a),id(b),id(c),id(w),id(e),id(z))

140715883178424 140715883178424 140715883178424 140715883178424 140715883178424 140715883178424

## 2. Python is Dynamically Typed

In [67]:
#python is dynamically typed, user don't need to state the datatype for the variable
#one variable can hold various datatypes in the same program depending on the value assigned to it
#this process of deciding datatype for the variable happens in runtime
#type is a class because everything in python is an object
a=15
print(type(a))
a=12.75
print(type(a))
a='karim'
print(type(a))
a=[10,21,30]
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

## 3.Python Datatypes

In [70]:
#python has a rich collection of datatypes
#1)Numeric datatypes(int,float,bool,complex)
#2)sequence or index-based datatypes(list,tuple,string)
#3)Set
#4)Dictionary

### 3.1 Numeric Datatypes

#### 3.1.1 Integers

In [6]:
#1)Numeric datatypes
#a)integers
x=10
y=-5
#you can store up to many digits in an integer as you want, you can now the size of in using function getsizeof in sys module
z=1234568910111213141516
print(x,y,z)
print(sys.getsizeof(x))
print(sys.getsizeof(y))
print(sys.getsizeof(z))
#integers in python are immutable, when you say x=10 python creates an integer object of value 10 and makes x reference to this object, when u say 
#x=20 python creates or reuses an integer object of value 20 and akes x refernce to it, now x does not refer to 10,
#if no other variables point to 10 python will garbage collect it eventually depending on reference count
#this behavior means that integers are imutable in python
x=15
print(id(x))
x=20
print(id(x))
#x id is changed because it now points to a new value
a=256
b=256
print(id(a))
print(id(b))
a=300
b=300
print(id(a))
print(id(b))
#both a and b should have the same id but jupyter doen't work correctly here

10 -5 1234568910111213141516
28
28
36
140705853352824
140705853352984
140705853360536
140705853360536
1799554389840
1799554392208

#### 3.1.2 Floats

In [94]:
#floats in python has two formats 
#1)decimal point representation
x=12.5
x=0.98
y=-99.7654
#2)floating point representation
x=125e2
x=124324e-3
print(x)
y=-1234E-2
print(y)

124.324
-12.34

#### 3.1.3 Boolean

In [107]:
#True or False is in capital T and F
#booleans are used in conditions
# the int for True is 1 , the int for False is 0 
# the bool of 0 is False the bool of anything else is true
x=True
y=False
print(int(x))
print(int(y))
x=10
print(bool(x))
x=-2
print(bool(x))
x=0
print(bool(x))

1
0
True
True
False

#### 3.1.4 Complex

In [120]:
#syntax var_name= real+imaginarypartj
#operations +,-,*,/ are performed on complex numbers in python
a=5+6j
print(a)
b=complex(10,25)
print(b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)

(5+6j)
(10+25j)
(15+31j)
(-5-19j)
(-100+185j)
(0.27586206896551724-0.08965517241379309j)

### 3.2 Sequence Datatypes

In [124]:
#Sequence datatypes are 3:
#1)List and its syntax is var_name=[values seperated by a comma]
#2)tuple and its syntax is var_name=(values seperated by a comma)
#3)string and its syntax is var_name='value'
#sequence data types are index based datatypes

#### 3.2.1 List

In [151]:
#list elements can be modified after creation using indexes
list1=[0,1,2,3,4,5,6]
list1[1]=10
print(list1)
print(list1[3])
list1=[4,6,7,8,9]
print(list1)
#note that you can change the refernce of the variable to a list, and can change the values of a created list through index

[0, 10, 2, 3, 4, 5, 6]
3
[4, 6, 7, 8, 9]

#### 3.2.2 tuple

In [149]:
#tuple elements can't be modified once created
tuple1=(1,2,3,4,5)
##tuple1[0]=9 this line will cause error if kept(tuple object does not support item assignment)
print(tuple1)
print(tuple1[3])
tuple1=(2,3,1,4)
print(tuple1)
#note that you can change the refernce of the variable to a tuple, but can't change the values of a created tuple

(1, 2, 3, 4, 5)
4
(2, 3, 1, 4)

#### 3.2.2 String

In [157]:
#strings are like tuples but it holds characters
name='karim'
print(name)
#name[1]='o' string object does not support item assignment
name='Marwan Ahmed'
print(name)
#note that you can change the refernce of the variable to a string, but can't change the values of a created string

karim
Marwan Ahmed

### 3.3 Set Datatype

In [165]:
#set is a collection of values but the data will not have index ,it is unordered and it contains unique values only
#you can add or remove elements ut you can't modify already given values because there is no index
#syntax set_name={values seperated by comma}
set1={1,2,3,4,1,2}
print(set1)

{1, 2, 3, 4}

### 3.4 Dictionary Datatype

In [174]:
#dictionary syntax dict_name={'key1_name':value,'key2_name':value,'key3_name':value}
dict1={'name':'Karim Ahmed Hamdy','age':25,'gender':'Male','religion':'Muslim'}
print(dict1)
print(dict1['name'])
dict1['name']='Marwan Ahmed Hamdy'
print(dict1)

{'name': 'Karim Ahmed Hamdy', 'age': 25, 'gender': 'Male', 'religion': 'Muslim'}
Karim Ahmed Hamdy
{'name': 'Marwan Ahmed Hamdy', 'age': 25, 'gender': 'Male', 'religion': 'Muslim'}

## 4. Literlas and Constants

In [193]:
#any constant data assigned directly to a variable is literal
a=10
b=5
#here 10 and 5 are literlas
c=a+b
#d=input('enter name')
# values assigned to c and d are not literals
#literal types are: integer,float,bool, complex and string literals
#a) integer literals
a=975
a=201
#when a literal in python is large you can put underscores to ease readability
b=135_456_321_112
print(b)
#integer literals can be in decimal,binary(0b),octal(0o),hexadecimal(0x) formats,with (0b,0o,0x) identifiers are for binary,octal,hexa respectively
dec=102
bina=0b01110110
octa=0o723
hexa=0xAF2A1
#base conversion functions bin(),oct(),hex() converts decimal to binary,octal,hexa it takes integer returns string
a=100
print(bin(a))
print(oct(a))
print(hex(a))

#b)float literals
a=9.75
b=10.0
d=125_223E-1
print(d)


#c) boolean literals (True and False)
a,b=True,False
#d)complex literals
a=4+9j
b=11_22+908_87j
print(b)


#e) string literals
#pyython string are written in single, double, triple quotes
#1)single quote: it is a regular string, handy when the string contains double quotes
text='he asked her,"Why did you do that?"'
print(text)
#2)double quote: it is a regular string, handy when the string contains single quotes
text2="this car is karim's car"
print(text2)
#3)triple quote: it is multi-line string
multi="""i am
a multi line 
string"""
print(multi)

135456321112
0b1100100
0o144
0x64
12522.3
(1122+90887j)
he asked her,"Why did you do that?"
this car is karim's car
i am
a multi line
string

## 5. Types Conversion

In [202]:
#there are built-in python functions that converts a datatype to another datatype
#these are:int(),float(),bool(),complex,str()
#int() can convert all datatypes except complex
#float()takes all datatypes except complex
#bool() works for all datatypes
#complex() taes all datatypes, if it is a string it should be a complex nuber string
#str() takes all datatypes
print(int(16.59))
print(int('12'))
print(int(True))

print(float(10))
print(float(False))
print(float('25.9'))

print(bool('arim'))

print(complex(True))
print(complex('2+9j'))

print(str(12.59))

16
12
1
10.0
0.0
25.9
True
(1+0j)
(2+9j)
12.59